name: Release

env:
  NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
  
on:
  push:
    tags:
      - '*'     

jobs:
  build:

    runs-on: ubuntu-latest
    if: github.repository_owner == 'diegofrata'

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal -f net6.0
    - name: Set Version
      if: startsWith(github.ref, 'refs/tags')
      run: |
        VERSION=`git describe --tags`
        echo "Publishing Version: ${VERSION}"
        echo "VERSION=${VERSION}" >> $GITHUB_ENV
    - name: Pack
      if: startsWith(github.ref, 'refs/tags')
      run: |
        dotnet pack Generator.Equals.Runtime/Generator.Equals.Runtime.csproj /p:PackageVersion=$VERSION /p:Version=$VERSION -c Release -o ./publish
        dotnet pack Generator.Equals/Generator.Equals.csproj /p:PackageVersion=$VERSION /p:Version=$VERSION -c Release -o ./publish
    - name: Publish  
      if: startsWith(github.ref, 'refs/tags')
      run: dotnet nuget push './publish/**/*.nupkg' -s https://api.nuget.org/v3/index.json -k $NUGET_API_KEY --skip-duplicate